<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../assets/js/application.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cardo:400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="notification">
  <h2></h2>
  <h3></h3>
</div>

<div class="container">
  <div id="grid" class="locked">
    <div class="square sq-1" data-box="1"></div>
    <div class="square sq-2" data-box="2"></div>
    <div class="square sq-3" data-box="3"></div>
    <div class="square sq-4" data-box="4"></div>
    <div class="square sq-5" data-box="5"></div>
    <div class="square sq-6" data-box="6"></div>
    <div class="square sq-7" data-box="7"></div>
    <div class="square sq-8" data-box="8"></div>
    <div class="square sq-9" data-box="9"></div>
  </div>
  <div class="rematch"><button>Rematch</button></div>
</div>
</body>